/* Add CSS Styling */
.paragraphs{
    background-color: rgb(255, 192, 203);
}

.cooler{
    font-size: 24px;
}

#numbah-2{
    color:#0000FFFF;
    font-size: 36px;
}

#numbah-4{
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}